# BasedOnStyle: LLVM
# UseTab: Never
# IndentWidth: 8
# ColumnLimit: 100
# MacroBlockBegin: ""
# MacroBlockEnd: ""
# # BraceWrapping:
# #   AfterClass: true
# #   AfterControlStatement: true
# #   AfterEnum: true/false
# #   AfterFunction: true
# #   AfterNamespace: true/false
# #   AfterObjCDeclaration: true/false
# #   AfterStruct: true/false
# #   AfterUnion: true/false
# #   BeforeCatch: true/false
# #   BeforeElse: true/false
# #   IndentBraces: true/false
# # BreakBeforeBraces: Custom
# BreakBeforeBraces: Stroustrup

Language: Cpp
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Stroustrup
NamespaceIndentation: None
SortIncludes: false
PointerAlignment: Left
ColumnLimit: 100
MaxEmptyLinesToKeep: 1
AlignAfterOpenBracket: BlockIndent
BasedOnStyle: LLVM
# BasedOnStyle: Google

# ------------------------------------------------------------------------------
# BasedOnStyle: LLVM
# IndentWidth: 8

# ExperimentalAutoDetectBinPacking: false
# AllowAllParametersOfDeclarationOnNextLine: false
# BinPackArguments: false
# BinPackParameters: false

